<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-e04c64b8.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-0140e8f9.js">
		<link rel="modulepreload" href="/./_app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-af0d96f6.js">
		<link rel="modulepreload" href="/./_app/pages/stream/components/player.svelte-2de553ed.js">
		<link rel="modulepreload" href="/./_app/chunks/store-4da514d4.js">
		<link rel="modulepreload" href="/./_app/chunks/client_keys-40eee54c.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/stream/components/player.svelte-1f90c3e4.css">

		<script type="module">
			import { start } from "/./_app/start-e04c64b8.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-af0d96f6.js"),
						import("/./_app/pages/stream/components/player.svelte-2de553ed.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/player",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const serverURL = 'https://ronin.host:1872/';
		const clientURL = 'http://ronin.host:1873/';
	</script>
	<script src="/shared/js/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<div class="w-100 ↕ svelte-1ia40tl" id="wrapper"><img class="m-h-auto svelte-1ia40tl" src="/assets/nebula.png" alt="">
</div>



	

</body>

</html>