<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/Ronin/_app/start-582bca86.js">
		<link rel="modulepreload" href="/Ronin/_app/chunks/vendor-3f6007f7.js">
		<link rel="modulepreload" href="/Ronin/_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/Ronin/_app/layout.svelte-2bcb6ea3.js">
		<link rel="modulepreload" href="/Ronin/_app/pages/json/components/pending.svelte-918533a1.js">
		<link rel="stylesheet" href="/Ronin/_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/Ronin/_app/assets/pages/json/components/pending.svelte-655bcd41.css">

		<script type="module">
			import { start } from "/Ronin/_app/start-582bca86.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"/Ronin","assets":"/Ronin"},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/Ronin/_app/layout.svelte-2bcb6ea3.js"),
						import("/Ronin/_app/pages/json/components/pending.svelte-918533a1.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/json/components/pending",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const URLpars = () => {
			const entries = new URLSearchParams( window.location.search ).entries();
			const params = {};
			for ( let entry of entries ) params[ entry[ 0 ] ] = entry[ 1 ];
			return params;
		};
		const chURL = ( key, value ) => {
			let searchParams = new URLSearchParams( window.location.search );
			searchParams.set( key, value );
			let newurl = `${ window.location.protocol }//${ window.location.host + window.location.pathname
				}?${ searchParams.toString() }`;
			window.history.pushState( { path: newurl }, "", newurl );
			return 0;
		};

		const serverURL = 'http://localhost:1872/';
		const clientURL = 'http://localhost:1873/';
	</script>
	<script src="./shared/js/molecular.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" style="position:relative;">
	






	

</body>

</html>