<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-cc50eb7c.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-963acee6.js">
		<link rel="modulepreload" href="/./_app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-826676f8.js">
		<link rel="modulepreload" href="/./_app/pages/stream/components/NB_subs.svelte-5154dd40.js">
		<link rel="modulepreload" href="/./_app/chunks/store-ddd563d3.js">
		<link rel="modulepreload" href="/./_app/chunks/client_keys-40eee54c.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="modulepreload" href="/./_app/pages/stream/shared/videoCard.svelte-420fee3c.js">
		<link rel="modulepreload" href="/./_app/chunks/svgIcon-ef42278b.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/stream/shared/videoCard.svelte-5acba6bc.css">
		<link rel="stylesheet" href="/./_app/assets/svgIcon-4aed7ede.css">

		<script type="module">
			import { start } from "/./_app/start-cc50eb7c.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-826676f8.js"),
						import("/./_app/pages/stream/components/NB_subs.svelte-5154dd40.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/NB_subs",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const serverURL = 'https://ronin.host:1872/';
		const clientURL = 'http://ronin.host:1873/';
	</script>
	<script src="/shared/js/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<section class="ƒ p20 ƒ∑" id="search"></section>



	

</body>

</html>