<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>
	<link rel='stylesheet' href='/shared/g100.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-d9299ce4.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-64247cd9.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-a36f2efc.js">
		<link rel="modulepreload" href="/./_app/pages/stream/components/bar.svelte-737405ec.js">
		<link rel="modulepreload" href="/./_app/chunks/TextInput-bcf58903.js">
		<link rel="modulepreload" href="/./_app/chunks/store-b6964c0e.js">
		<link rel="modulepreload" href="/./_app/chunks/client_keys-40eee54c.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/stream/components/bar.svelte-4c80a176.css">

		<script type="module">
			import { start } from "/./_app/start-d9299ce4.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-a36f2efc.js"),
						import("/./_app/pages/stream/components/bar.svelte-737405ec.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/bar",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/shared/RoninScript.js"></script>

	<style>
		:root {
			--primary: #18f;
			--primary-hl: #07f;
			--secondary: #7f7f7f;
			--secondary-hl: #bbb8;
			--disabled: #999;
			--disabled-text: #ccc;
			--danger: #f22;
			--danger-hl: #f00;
		}
	</style>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<form class="o-0 w-100 p5 ƒ 🥃 svelte-13qpo18">
<div class="bx--form-item bx--text-input-wrapper">
  
  <div class="bx--text-input__field-outer-wrapper"><div class="bx--text-input__field-wrapper">
      
      
      <input id="ccs-0.y450hkho0dj" placeholder="Search" type="" value="" class="bx--text-input--40 bx--text-input   " style="border:none;background:transparent;outline:none;">
      
      
      </div>
    
    
    </div></div>
  <svg class=" svelte-xufjgf" viewBox="0 0 32 32" width="22" height="22" stroke="currentcolor" stroke-width="2" fill="none" style=""><circle stroke="#fff" cx="14" cy="14" r="12"></circle>
    <path stroke="#fff" d="M23 23 L30 30"></path></svg>
</form>



	

</body>

</html>