<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-20c1fdd9.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-6eaebedf.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-a70bff51.js">
		<link rel="modulepreload" href="/./_app/pages/stream/components/bar.svelte-5937905d.js">
		<link rel="modulepreload" href="/./_app/chunks/api-672bf324.js">
		<link rel="modulepreload" href="/./_app/chunks/client_keys-40eee54c.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="modulepreload" href="/./_app/chunks/svgIcon-e5d2d986.js">
		<link rel="modulepreload" href="/./_app/chunks/store-f8ea1c11.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/stream/components/bar.svelte-a1dc679c.css">
		<link rel="stylesheet" href="/./_app/assets/svgIcon.svelte_svelte&type=style&lang-a6e7f746.css">

		<script type="module">
			import { start } from "/./_app/start-20c1fdd9.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-a70bff51.js"),
						import("/./_app/pages/stream/components/bar.svelte-5937905d.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/bar",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/shared/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<section class="o-0 p5 ƒ 🥃 svelte-uwlmy3"><div>Helios</div>

  <form class="svelte-uwlmy3"><input class="p5 svelte-uwlmy3" id="srcBox" size="35" placeholder="Search" value="">
    <svg class=" svelte-xufjgf" viewBox="0 0 32 32" width="22" height="22" stroke="currentcolor" stroke-width="2" fill="none" style="position:relative;top:3px;left:5px"><circle cx="14" cy="14" r="12"></circle>
      <path d="M23 23 L30 30"></path></svg>
    <input class="o-0 w-0 svelte-uwlmy3" type="submit" value=""></form>

  <div><button class="red svelte-uwlmy3">★ </button></div>
</section>



	

</body>

</html>