<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-76b7aadf.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-60de8ae2.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-020bfa10.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/suggestion.svelte-79dc2b14.js">
		<link rel="modulepreload" href="/./_app/chunks/suggestion-29b2d8c2.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/suggestion-0e6d464e.css">

		<script type="module">
			import { start } from "/./_app/start-76b7aadf.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-020bfa10.js"),
						import("/./_app/pages/command/components/suggestion.svelte-79dc2b14.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/command/components/suggestion",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const serverURL = 'https://ronin.host:1872/';
		const clientURL = 'http://ronin.host:1873/';
	</script>
	<script src="/shared/js/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<ul id="autoComplete" class="◼ m-h-auto svelte-buml17">
</ul>



	

</body>

</html>