<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-b0d0c63c.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-5714e58c.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-48a96803.js">
		<link rel="modulepreload" href="/./_app/pages/stream/components/YT_subs.svelte-1a9035f0.js">
		<link rel="modulepreload" href="/./_app/chunks/store-59b033e4.js">
		<link rel="modulepreload" href="/./_app/chunks/client_keys-40eee54c.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="modulepreload" href="/./_app/pages/stream/shared/videoCard.svelte-ae56264d.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/stream/shared/videoCard.svelte-3a12f032.css">

		<script type="module">
			import { start } from "/./_app/start-b0d0c63c.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-48a96803.js"),
						import("/./_app/pages/stream/components/YT_subs.svelte-1a9035f0.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/stream/components/YT_subs",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/shared/RoninScript.js"></script>

	<style>
		:root {
			--primary: #18f;
			--primary-hl: #07f;
			--secondary: #7f7f7f;
			--secondary-hl: #bbb8;
			--disabled: #999;
			--disabled-text: #ccc;
			--danger: #f22;
			--danger-hl: #f00;
		}
	</style>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<section class="ƒ p20 ƒ∑" id="search"></section>



	

</body>

</html>