<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-70da18cc.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-7f046df2.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-4d9c3605.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/sumbox.svelte-ccf90e31.js">
		<link rel="modulepreload" href="/./_app/chunks/molecular-c58642ff.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/command/components/sumbox.svelte-58b0a89f.css">

		<script type="module">
			import { start } from "/./_app/start-70da18cc.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-4d9c3605.js"),
						import("/./_app/pages/command/components/sumbox.svelte-ccf90e31.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/command/components/sumbox",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const URLpars = () => {
			const entries = new URLSearchParams( window.location.search ).entries();
			const params = {};
			for ( let entry of entries ) params[ entry[ 0 ] ] = entry[ 1 ];
			return params;
		};
		const chURL = ( key, value ) => {
			let searchParams = new URLSearchParams( window.location.search );
			searchParams.set( key, value );
			let newurl = `${ window.location.protocol }//${ window.location.host + window.location.pathname
				}?${ searchParams.toString() }`;
			window.history.pushState( { path: newurl }, "", newurl );
			return 0;
		};

		const serverURL = 'https://ronin.host:1872/';
		const clientURL = 'http://ronin.host:1873/';
	</script>
	<script src="/shared/js/molecular.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<div id="stats" class="blur m-10 p-10 svelte-181llfb">Fan Speed: <progress max="6520" value="0"></progress>
  <br> CPU Temp: <progress max="100" value="0"></progress>
  <br> MBo Temp: <progress max="100" value="0"></progress>
  <br> Networks: <i>...</i>
</div>



	

</body>

</html>