<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>
	<link rel='stylesheet' href='/shared/g100.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-9f33d81d.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-19aa2a09.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-df8af5d9.js">
		<link rel="modulepreload" href="/./_app/pages/monitor/components/test.svelte-ef041f11.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">

		<script type="module">
			import { start } from "/./_app/start-9f33d81d.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-df8af5d9.js"),
						import("/./_app/pages/monitor/components/test.svelte-ef041f11.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/monitor/components/test",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/shared/RoninScript.js"></script>

	<style>
		:root {
			--primary: #18f;
			--primary-hl: #07f;
			--secondary: #7f7f7f;
			--secondary-hl: #bbb8;
			--disabled: #999;
			--disabled-text: #ccc;
			--danger: #f22;
			--danger-hl: #f00;
		}
	</style>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<article><h3>Monitor</h3>
    <p></p></article>



	

</body>

</html>