<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-20c1fdd9.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-6eaebedf.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-a70bff51.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/search.svelte-6b69251f.js">
		<link rel="modulepreload" href="/./_app/chunks/samurai-2abaf7b6.js">
		<link rel="modulepreload" href="/./_app/chunks/store-ffdf00a6.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/suggestion.svelte-a7116dac.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/command/components/search.svelte-58f5bf7f.css">
		<link rel="stylesheet" href="/./_app/assets/pages/command/components/suggestion.svelte-cdbb06db.css">

		<script type="module">
			import { start } from "/./_app/start-20c1fdd9.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-a70bff51.js"),
						import("/./_app/pages/command/components/search.svelte-6b69251f.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/command/components/search",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script src="/shared/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<section class="ƒ-col svelte-13a1j6a"><form class="svelte-13a1j6a"><div class="wrapper ƒ p5 svelte-13a1j6a"><img id="engineImage" src="/icons/Basic.svg" alt="" class="svelte-13a1j6a">
      <input placeholder="Ronin" id="magic" required size="150" class="svelte-13a1j6a"></div>
    <input id="submit" type="submit" value=" " style="display:none;"></form>
  <ul id="autoComplete" class="p5 m-h-auto svelte-buml17">
</ul>
</section>



	

</body>

</html>