<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel='stylesheet' href='/shared/global.css'>

	

		

		<link rel="modulepreload" href="/./_app/start-f0d2c5d0.js">
		<link rel="modulepreload" href="/./_app/chunks/vendor-31282957.js">
		<link rel="modulepreload" href="/./_app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/./_app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/./_app/layout.svelte-30ab2f49.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/search.svelte-905b4069.js">
		<link rel="modulepreload" href="/./_app/chunks/samurai-67641d85.js">
		<link rel="modulepreload" href="/./_app/chunks/store-bb560819.js">
		<link rel="modulepreload" href="/./_app/pages/command/components/suggestion.svelte-57b2a4e0.js">
		<link rel="stylesheet" href="/./_app/assets/start-a8cd1609.css">
		<link rel="stylesheet" href="/./_app/assets/pages/command/components/search.svelte-73119b1e.css">
		<link rel="stylesheet" href="/./_app/assets/pages/command/components/suggestion.svelte-cdbb06db.css">

		<script type="module">
			import { start } from "/./_app/start-f0d2c5d0.js";
			start({
				target: document.querySelector("body"),
				paths: {"base":"","assets":"/."},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/./_app/layout.svelte-30ab2f49.js"),
						import("/./_app/pages/command/components/search.svelte-905b4069.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/command/components/search",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>

	<script>
		const serverURL = 'https://ronin.host:1872/';
		const clientURL = 'http://ronin.host:1873/';
	</script>
	<script src="/shared/js/RoninScript.js"></script>
</head>

<body xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:relative;">
	


<section class="ƒ-col svelte-1u26anr"><form class="svelte-1u26anr"><div class="wrapper ƒ p5 svelte-1u26anr"><img id="engineImage" src="/icons/Basic.svg" alt="" class="svelte-1u26anr">
      <input placeholder="Ronin" id="magic" required size="150" class="svelte-1u26anr"></div>
    <input id="submit" type="submit" value=" " style="display:none;"></form>
  <ul id="autoComplete" class="p5 m-h-auto svelte-buml17">
</ul>
</section>



	

</body>

</html>